$dark-gradient: radial-gradient(circle, rgba(30,31,31,1) 21%, rgba(22,21,21,1) 100%);
$light-gradient: radial-gradient(circle, rgba(33,33,33,1) 21%, rgba(22,21,21,1) 100%);

$colors: (
    "white": rgb(201, 201, 201),
    "gray": rgb(117, 116, 116),
)

